config/config.js
.sass-cache/
node_modules/
/.idea
tmp
public/uploads
uploads
public/js/index.min.js
public/js/vendor.min.js
.DS_Store
/settings.json
.vscode
public/css/*.css
public/css/*.map
config/config.scss
uploads
yarn.lock
package-lock.json
ignore