block variables

//- include ./partials/mixins.jade

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Make Parties
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body
    include partials/nav
    block content
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")


